// start .sTransformIntro — node 318:482
.sTransformIntro {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};

	background-color: var(--eb-white);

	&__inner {
		position: relative;
		height: rem(230);
		padding-block: rem(16);
	}

	&__watermark {
		position: absolute;
		top: 50%;
		left: 50%;
		width: rem(280);
		color: var(--eb-light-blue);
		transform: translate(-50%, -50%);
		pointer-events: none;

		.icon {
			width: 100%;
			height: auto;
			font-size: inherit;
		}
	}

	&__title {
		position: relative;
		z-index: 1;
		top: 50%;
		margin-bottom: 0;
		transform: translateY(-50%);
	}

	&__tag {
		position: absolute;
		z-index: 1;
	}

	&__tag--a {
		top: rem(30);
		left: 44%;
	}

	&__tag--b {
		top: rem(165);
		left: 18.9%;
	}

	&__tag--c {
		top: rem(195);
		left: 42.9%;
	}

	@include media-breakpoint-up(lg) {
		--sPT: #{rem(90)};
		--sPB: #{rem(90)};

		&__inner {
			display: block;
			height: rem(300);
			min-height: rem(300);
			padding-block: rem(60);
		}

		&__watermark {
			width: rem(420);
		}

		&__title {
			position: relative;
			z-index: 1;
			top: auto;
			padding-top: rem(40);
			transform: none;
		}

		&__tag {
			position: absolute;
		}

		&__tag--a {
			top: 4%;
			left: 27.5%;
		}

		&__tag--b {
			top: 33%;
			left: 64%;
		}

		&__tag--c {
			top: auto;
			bottom: 3%;
			left: 35%;
		}
	}
}
// end .sTransformIntro
