// start .sTransformIntro — node 318:482
.sTransformIntro {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};

	background-color: var(--eb-white);

	&__inner {
		position: relative;
		height: rem(230);
		padding-block: rem(16);
	}

	&__watermark {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		width: 100%;
		text-align: center;
		.icon {
			color: var(--eb-light-blue);
			// color: #000;
			font-size: clamp(300px, 20vw, 550px);
		}
	}

	&__title {
		position: relative;
		z-index: 1;
		top: 50%;
		margin-bottom: 0;
		transform: translateY(-50%);
	}

	&__tag {
		position: absolute;
		z-index: 1;
	}

	&__tag--a {
		top: rem(0);
		left: 44%;
	}

	&__tag--b {
		top: rem(165);
		left: 18.9%;
	}

	&__tag--c {
		top: rem(225);
		left: 42.9%;
	}

	@include media-breakpoint-up(lg) {
		--sPT: #{rem(90)};
		--sPB: #{rem(90)};

		&__inner {
			display: block;
			min-height: clamp(300px, 20vw, 550px);
			padding-block: rem(60);
		}

		&__title {
			position: relative;
			z-index: 1;
			top: auto;
			padding-top: rem(40);
			transform: none;
		}

		&__tag {
			position: absolute;
		}

		&__tag--a {
			top: 0%;
			left: 27.5%;
		}

		&__tag--b {
			top: 33%;
			left: 64%;
		}

		&__tag--c {
			top: auto;
			bottom: 0%;
			left: 35%;
		}
	}
}
// end .sTransformIntro
